@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
   
    font-family: Roboto, sans-serif;
  }
}
.Round{
border-radius:50%;

background: rgb(237,242,248);
background: linear-gradient(68deg, rgba(237,242,248,1) 20%, rgba(208,216,227,1) 100%);

  width: 50px;
  height: 50px;
}

.emptyBox{
display:flex;
height:100vh;
width:100%;
margin-top:10px

}
.round_active {
  border-radius: 25px;
  background: #454dac;
  padding: 3px;
  width: 3px;
  height: 3px;
 
}

.profileRound{
border-radius:50%;
background: rgb(237,242,248);
background: linear-gradient(68deg, rgba(237,242,248,1) 20%, rgba(208,216,227,1) 100%);
margin-top:3rem;
  width: 600px;
  height: 600px;
}
.strokeText{
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;}
.header_align{
  display:flex;
  flex-direction: column ;
  align-items:center }
 /* .footer-dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #;
} */